body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
   
}


.container {
    flex: 1;
    
}

.listings {
    margin: 2rem !important;
    display: flex;
    justify-content: center;
}

.card {
    margin : 2rem;
    margin-bottom: 1.8rem !important;
}

@media screen and (max-width: 1198px) {
    .listings {
       justify-content: space-around;
    }
}

/* navbar */
.navbar {
    height : 5rem;
    background-color: #ffffff;
}

.fa-compass {
    color : #fe424d;
    font-size : rem;
}

.nav-link {
    color : #222222 !important;
}

/* footer */

/* Style the footer */
footer {
    background-color: #333;
    color: #fff;
    
    padding: 20px;
    text-align: center;
 
}

/* Style the social icons */
.f-info-socials {
    margin-bottom: 10px;
}

.f-info-socials i {
    font-size: 24px;
    margin-right: 10px;
    color: #fff;
}

/* Style the company information */
.f-info {
    display: flex;
    flex-direction: column;
}

.f-info>div {
    margin-bottom: 10px;
}

.f-info-links>a {
    text-decoration: none !important;
    color : #fff !important;
}

/* Style the links in the footer */

.card-text {

color : #000000;

}
.title {
    font-weight: 700;
    margin-bottom: -5px;
}
.listing-card {
    border : none  !important;
    margin-bottom: 2rem;
   
    
}

.card-body {
    padding: 0px !important;
}

.card-img-top {
    border-radius : 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height : 20rem;
}

.alink {
    text-decoration: none !important;
    color : #fff;
}


/* card image effect */
.card-img-overlay {
    background-color: #fff;
    opacity: 0;

}
.card-img-overlay:hover {
    opacity: 0.2;
   
}


/* form page */
.add-btn {
    background-color:#fe424d  !important;
    border: none  !important;
}

.card-text {
    margin : 0;
}


.show-btns {
    display: flex;
    flex-direction: row;
    gap : 10px;
    margin-bottom: 10px;
}

/* map */
#map {
   height : 400px;
   width : 55vw;
    
}